.flex-container {
    display: flex;
    width: 100%;
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}
.inputfield {
    outline: none;
}

.section1 {
    width: 50%;
}
.standout-img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.section2 {
    padding: 3%;
    background-color: fff;
}




