body {
    background-color: #282828 !important;
    color: #fff !important;
}

.main-body {
    width: 100%;
    display: flex;
}
.img-section {
    width: 40%;
}

.login {
    width: 60%;
    padding: 15%;
}

.vector-img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    border: 1px solid white;
}